<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Analysis Graphs</title>
</head>
<body>
    <h1>Credit Analysis Graphs</h1>
    <div>
        <h2>CREDIT UTILIZATION</h2>
        <h3>Visualize how much of the credit limit is being used.</h3>
        <img src="{{ graph1 }}" alt="Balance vs Credit Limit">
    </div>
    <div>
        <h2>TRANSACTION ANALYSIS</h2>
        <h3>Visualize credit utilization and spending patterns.</h3>
        <img src="{{ graph2 }}" alt="Purchases vs Cash Advances">
    </div>
    <div>
        <h2>TRANSACTION FREQUENCIES</h2>
        <h3>RISK INDICATORS: Visualize the frequency of high risk transactions.</h3>
        <img src="{{ graph3 }}" alt="Purchase Frequency VS Cash Advance Frequency">
    </div>

    <div>
        <h2>AVG TRANSACTION FREQUENCY</h2>
        <h3>Analyze the frequency of different transactions and understand how often customers engage with credit.</h3>
        <img src="{{ graph4 }}" alt="Purchase Frequency VS Cash Advance Frequency">
    </div>
</body>
</html>
